@import '../../../style/styles.scss';
@import '../../../style/main.scss';

.sirius-btn{
  margin-top: 40px;
  width: 350px;
  font-family: $sirius-font;
  color: $button-text;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center ;
  border-style: none;
  cursor: pointer;
  height: 50px;
  min-height: 50px;
  position: relative;
  border-radius: 5px;
  p{
    margin: 0px;
  }
}
.sirius-btn-icon{
  position: absolute;
  left: 0px;
  font-size: 1.5rem;
  margin-left: 10px;
}
.fb{
  background-color:$lightblue ;
  &:hover{
    background-color: $lightblue-hover;
  }
}
.ig{
  background-color:$lightyellow ;
  &:hover{
    background-color: $lightyellow-hover;
  }
}
.ld{
  background-color:$lightred ;
  &:hover{
    background-color: $lightred-hover;
  }
}
.wb{
  background-color:$lightgrey ;
  &:hover{
    background-color: $lightgrey-hover;
  }
}

@media screen and (max-width: 425px){
  .sirius-btn{
    width: 80vw;
    max-width: 350px;
    min-width: 200px;
    font-size: 0.7rem;
  }
}