
$sirius-font: 'Gotham';

//Background colors
$backgroundColor: #1B1B1B;

//Button Colors

$lightblue: #6CDDDA;
$lightblue-hover: #5bd0cc;
$lightyellow: #FFF57D;
$lightyellow-hover: #e3d964;
$lightred: #F05E3D;
$lightred-hover: #dc5131;
$lightgrey: #E9E9E9;
$lightgrey-hover: #e0e0e0;
$button-text: #363636;