@import url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css);
$sirius-font: 'gotham';

//Background colors
$backgroundColor: #1B1B1B;

//Button Colors

$lightblue: #6CDDDA;
$lightblue-hover: #5bd0cc;
$lightyellow: #FFF57D;
$lightred: #F05E3D;
$lightgrey: #E9E9E9;
$button-text: #363636;